<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">

<listeners>
		<listener class-name="org.makeMyTrip.qa.ExternalReport.ExtentReportListener" />
	</listeners>

  <test name="Test Basics 1">
      
      <classes>
      <class name="org.makeMyTrip.qa.testcases.LoginPageTest"/>
      <class name="org.makeMyTrip.qa.testcases.HomePageTest"/>
      <class name="org.makeMyTrip.qa.testcases.ContactsPageTest"/>
      </classes>
  
     
  </test> <!-- Test -->
</suite> <!-- Suite -->